.logo {
	width: 97px;
	height: 110px;
}

header {
	background-color: darkslategray;
	width: 960px;
	padding: 14px; 
	margin: 0px auto;
}

.nav-header {
	margin-top: 15px;
}

li.nav {
	display: inline;
	color: white;
	padding-left: 10px; 
	padding-right: 10px;
}
/* Pregunta! ¿cómo dar tamaño (o margenes que funcionen) 
a cada elemento? 
¿en el row o agregando una clase? 
Lo meti todo en un div con la clase "episodes-title"
a esa clase le di atributos de margen y padding*/
.episodes-title {
	padding: 14px; 
	margin: 0px auto;

}
h3 {	
	display: inline;
}

a {
	text-decoration: none;
}

#episodes {
 	background-color: lightblue;
	width: 960px;
	height: 300px;
	margin: 0px auto;
	}

.cover {
	width: 100%;
	border: 1px solid gray;
	padding: 2px;
}

 h5 {
	color: mediumpurple; 
	margin: 0px auto;	
} /*¿Es mejor usar colores en inglés o en el sistema #22ff12?*/

#thumbs {
	padding: 15px;
	margin: 15px auto;
}
.thumbs {
	width: 100%;
	border: 1px solid gray;
	padding: 5px;
	margin: 5px;
}

footer {
	background-color: gray;
	width: 960px;
	height: 150px;
	margin: 0px auto;
}

h6 {
	margin: 2px;
}
 p {
 	margin: 5px;
 }

 li {
 	list-style-type: none;
 }

 .iconos {
 	width: 10%;
 	margin-right: 5px;
 }